*{
    font-family: optima;
    box-sizing: border-box;
}
.header{
    color: aliceblue;
    height: 300px;
    width: 100%;
    display:block;
    background-image: url(images/baner1.jpg);
    padding:10px 0px;
}
.menu li {
    display: inline;
}

.menu li a {
 
 font-size: 21px;
 text-decoration: none;
 float: left;
 padding: 10px;
 background-color: #2175bc;
 color: #fff;
    height: 100%;
 }

.left{
    margin-top: 100px; 
  width: 25%;
  float: auto;
  padding: 15px;
  border: 1px solid red;
    
}
.news {
  width: 25%;
  float: right;
  padding: 15px;
  border: 1px solid red;
}

.section {
/*    margin-left: 10%;*/
  width: 50%;
  float: center;
  padding: 15px;
  border: 1px solid red;
}
